.container {
  display: flex;
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: lightgray;
  width: 60%;
  height: 80%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.images {
  background-color: lightgray;
  width: 100%;
  height: 60%;
  position: relative;
  align-items: center;
}

.slide {
  width: 100%;
  height: 12rem;
  display: block;
}

.portrait {
  position: relative;
  width: 10rem;
  /* Ancho deseado de la imagen de perfil */
  height: 10rem;
  /* Altura deseada de la imagen de perfil */
  border-radius: 50%;
  object-fit: cover;
  /* Ajusta la imagen para cubrir el espacio */
  z-index: 2;
  /* Asegura que la imagen de perfil esté encima de la imagen de portada */
  margin: -100px 33% 0;
  box-shadow: 0 0 10px 5px rgba(5, 4, 4, 0.39);

}

h1 {
  position: relative;
  margin: 0px 30% 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  white-space: nowrap;
  color: darkgray;
}

h2 {
  position: relative;
  margin: 0px 30% 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  white-space: nowrap;
}

h3 {
  text-align: center;
  color: rgb(99, 99, 99);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.80rem;
  height: 8vh;
}

p {
  position: relative;
  margin: 0px 10% 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.80rem;
  text-align: justify;
}

.locations {
  width: 100%;
  height: 16%;
  position: relative;
  display: flex;
}

.location {
  width: 100%;
  height: 100%;
  position: relative;
}

.email {
  width: 100%;
  height: 100%;
  position: relative;
}

.follower {
  width: 100%;
  height: 14%;
  position: relative;
  display: flex;
  border: 1px solid gainsboro;
}

.followers {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid gainsboro;
}

.following {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid gainsboro;
}

.h1-follow {
  all: unset;
  font-size: 1rem;
  position: relative;
  margin: -10px 38% 0;
  font-family: 'Courier New', Courier, monospace;
  top: 20px;
}

.h2-follow {
  all: unset;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  position: relative;
  margin: 30px 30% 0;
  top: 20px;
}

.button {
  width: 100%;
  height: 10%;
  background-color: #228B22;
}

.h1-follows {
  all: unset;
  font-size: 1.2rem;
  position: relative;
  margin: -10px 44% 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: 20px;
  color: aliceblue;
}